<!-- <mat-toolbar class="bg-primary">
  <a mat-button routerLink="" routerLinkActive>Home</a>
  <a mat-button [matMenuTriggerFor]="maintinance">Mantenimiento</a>
  <mat-menu #maintinance="matMenu" yPosition="below" class="bg-primary">
    <a mat-menu-item routerLink="company" routerLinkActive>Compañias</a>
    <a mat-menu-item routerLink="branch" routeLinkActive>Sucursales</a>
    <a mat-menu-item routerLink="department" routerLinkActive>Departamentos Y Municipios</a>
    <a mat-menu-item>Usuarios</a>
  </mat-menu>
</mat-toolbar> -->

<p-menubar [model]="items" styleClass="bg-primary font-style icon-home">
  <button pButton icon="pi pi-home" (click)="goHome()">
  </button>
</p-menubar>
