<div class="container">
  <div class="row text-center">
    <h1 class="col-12">
      Municipios del Departamento de {{department.title}}
      <button class="btn btn-primary btn-sm">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button>
    </h1>
  </div>
  <div class="row">
    <div class="col-12">
      <municipality-create></municipality-create>
    </div>
  </div>

  <table class="table table-striped" displayMode="flat">
    <tr class="row bg-light">
      <th class="col-1">No.</th>
      <th class="col-3">Nombre Corto</th>
      <th class="col-4">Nombre Largo</th>
      <th class="col 2">Editar</th>
      <th class="col-2">Borrar</th>
    </tr>
  </table>
</div>
