<header class="p-grid text-center mt-5">
  <h1 class="p-col"><button pButton class="ui-button-rounded ui-button-primary" (click)="toggle()"
      icon="pi pi-plus-circle"></button>
    Compañia</h1>
</header>
<p-tabView *ngIf="noCompanies !==0" [hidden]="!hide">
  <p-tabPanel [header]="item.title" *ngFor="let item of companies; let i = index" [selected]="i ==0">

    <div class="ui-fluid p-formgrid p-grid">
      <div class="p-field p-col-12"> <label for="">Nombre Comercial de la Compañia</label><input pInputText type="text"
          [value]="item.commercialName" [readonly]="readonly"> </div>
      <div class="p-field p-col-12"> <label for="">Direccion</label><input pInputText type="text" [value]="item.address"
          [readonly]="readonly"></div>
      <div class="p-field p-col-6">
        <label for="">No. de Telefono</label><input pInputText type="text" [value]="item.telephone"
          [readonly]="readonly">
      </div>
      <div class="p-field p-col-6">
        <label for="">No. de Telefono Secundario</label><input pInputText type="text" [value]="item.otherPhone"
          [readonly]="readonly">
      </div>
      <div class="p-col-3"></div>
      <div class="p-col-6">
        <img id="company-image" [src]="item.logo" alt="sarai sarai">
      </div>
      <div class="p-col-3"></div>
      <div class="p-col-6 mt-5">
        <button pButton class="ui-button-info" type="button" (click)="edit(item)"><i
            class="pi pi-pencil"></i>Editar</button>
      </div>
      <div class="p-col-6 mt-5">
        <button pButton class="ui-button-danger" type="button" (click)="delete(item)"><i
            class="pi pi-trash"></i>Eliminar</button>
      </div>

    </div>

  </p-tabPanel>

</p-tabView>

<company-create [hidden]="hide" (addCompany)="toggle()" (createdCompany)="newCompany($event)"></company-create>

<p-card *ngIf="noCompanies===0 && hide">
  <p-header class="bg-primary">
    <h1>Todavia No existen Comañias creadas</h1>
  </p-header>
  <h3>Por favor presione el boton <i class="pi pi-plus-circle"></i> para crear una nueva Compañia</h3>
</p-card>
