<section class="container">
  <header class="p-grid text-center mt-5">
    <h1 class="p-col"><button pButton class="ui-button-rounded ui-button-primary" (click)="toggle()"
        icon="pi pi-plus-circle"></button>
      Sucursales</h1>
  </header>
  <p-tabView *ngIf="noBranches>0" [hidden]="hide">
    <p-tabPanel [header]="item.title" *ngFor="let item of branches; let i = index" [selected]="i ==0">

      <div class="ui-fluid p-formgrid p-grid">

        <div class="p-field p-col-12"> <label for="">Nombre Abreviado de la Sucursal</label><input pInputText
            type="text" [value]="item.titleAbbreviation" readonly>
        </div>

        <div class="p-field p-col-12"> <label for="">Direccion</label><input pInputText type="text"
            [value]="item.address" readonly>
        </div>

        <div class="p-field p-col-6">
          <label for="">No. de Telefono</label><input pInputText type="text" [value]="item.telephone" readonly>
        </div>
        <div class="p-field p-col-6">
          <label for="">No. de Telefono Secundario</label><input pInputText type="text" [value]="item.otherPhone"
            readonly>
        </div>
        <div class="p-field p-col-12">
          <label for="">Nombre de la Compañia</label><input pInputText type="text" [value]="item.companyName" readonly>
        </div>

        <div class="p-col-6 mt-5">
          <button pButton class="ui-button-info" type="button" (click)="edit(item, i)">
            <i class="pi pi-pencil"></i>Editar</button>
        </div>
        <div class="p-col-6 mt-5">
          <button pButton class="ui-button-danger" type="button" (click)="delete(item.id)">
            <i class="pi pi-trash"></i>Eliminar</button>
        </div>

      </div>


    </p-tabPanel>

  </p-tabView>

  <branch-create *ngIf="hide" (createdBranch)="newBranch($event)" (addBranch)="toggle()" [branchEdit]="editedBranch"
    [address]="address" [department]="department" [municipality]="municipality" (editResult)="handleEdit($event)">
  </branch-create>

  <p-card *ngIf="noBranches===0 && hide">
    <p-header class="bg-primary">
      <h1>Todavia No existen Sucursles creadas</h1>
    </p-header>
    <h3>Por favor presione el boton <i class="pi pi-plus-circle"></i> para crear una nueva Sucursal</h3>
  </p-card>
</section>
