<div class=" bg-light mt-5 mb-5">

  <h3 class="ui-card-title">Agregue El/Los Municipio(s)</h3>
  <div class="ui-card-content">
    <form class="p-formgroup-inline" name="editForm" (ngSubmit)="save()" #editForm="ngForm">

      <input pInputText type="text" placeholder="Nombre Abreviado de municipio" name="title"
        [(ngModel)]="municipality.title" #title="ngModel" required>
      <p *ngIf="title.errors && (title.dirty||title.touched)" class="text-danger">Por favor ingrese un valor
        permitido</p>

      <input pInputText placeholder="Nombre de Municipio" type="text" name="longTitle"
        [(ngModel)]="municipality.longTitle" #longTitle="ngModel" required>
      <p *ngIf="longTitle.errors && (longTitle.dirty||longTitle.touched)" class="text-danger">
        Por favor ingrese un valor permitido</p>


      <button pButton class="ui-button-success" type="submit" icon="pi pi-save"></button>
      <button pButton class="ui-button-secundary" (click)="toggle()" icon="pi pi-times"></button>
    </form>

  </div>
</div>
