<form class="form-inline" name="editForm" (ngSubmit)="save()" #editForm="ngForm">
  <div class="form-group col-8 col-xs-8">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="title" [(ngModel)]="department.title" #title="ngModel" required />
  </div>
  <div class="col-4 col-xs-4">
    <button class="btn btn-primary btn-sm" type="submit" label="Save">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
    <button class="btn btn-secondary btn-sm" type="button" label="Cancel" (click)="toggle()">
      <i class="fas fa-backward"></i>
    </button>
  </div>
</form>
<p *ngIf="title.errors && (title.dirty||title.touched)" class="text-danger">Por favor ingrese el nombre del
  Departamento</p>
