<form class="p-formgroup-inline" name="editForm" (ngSubmit)="save()" #editForm="ngForm">
  <div class="p-field">
    <label for="title">Nombre de Departamento</label>
    <input pInputText class="" type="text" name="title" [(ngModel)]="department.title" #title="ngModel" required />
    <button pButton class="ui-button-success" type="submit" icon="pi pi-save">
    </button>
    <button pButton class="ui-button-info" type="button" icon="pi pi-times" (click)="toggle()">
    </button>
  </div>

</form>
<p *ngIf="title.errors && (title.dirty||title.touched)" class="text-danger">Por favor ingrese el nombre del
  Departamento</p>
