*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#company-image {
  width: 40vw;
  height: 40vw;
  max-width: 40vw;
  max-height: 40vw;
  min-width: 40vw;
  min-height: 40vw;
  border-width: 2px;
  border-color: rgb(15, 128, 233);
  background-color: rgb(215, 232, 247);
  display: block;
  margin: auto;

}


.upload-input {
  color: rgb(15, 128, 233);
}

.upload-input::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-input::before {
  content: 'Elija imagen para el logo de su Compañía';
  color: black;
  /* background: rgb(15, 128, 233); */
  background-color: inherit;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2vw;
  width: 100%;
  height: 100%;
  padding-left: 30%;
  padding-right: auto;
  font-size-adjust: inherit;
}

.upload-input:hover::before {
  border-color: black;
}

/* .upload-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */
