*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#company-image {
  width: auto;
  height: 40vh;
  max-width: 40vw;
  max-height: 40vw;
  min-width: 20vw;
  min-height: 20vw;
  border-width: 2px;
  border-color: rgb(15, 128, 233);
  background-color: rgb(215, 232, 247);
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* margin: auto; */

}


#upload-input {
  color: rgb(15, 128, 233);
}

#upload-input::-webkit-file-upload-button {
  visibility: hidden;
}

#upload-input::before {
  content: 'Elija imagen para su logo';
  color: black;
  background-color: inherit;
  outline: none;
  /* white-space: wrap; */
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2vw;
  text-align: center;
  align-content: space-around;
  width: 80%;
  height: 100%;
  font-size-adjust: inherit;
}

#upload-input:hover::before {
  border-color: black;
}

/* .upload-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */


.text-center {
  align-content: space-between;
}
