*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#company-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 30vw;
  min-height: 30vw;
  border-width: 2px;
  border-color: rgb(15, 128, 233);
  background-color: rgb(215, 232, 247);
  display: block;
  /* margin: auto; */

}


.upload-input {
  color: rgb(15, 128, 233);
}

.upload-input::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-input::before {
  content: 'Elija imagen para su logo';
  color: black;
  background-color: inherit;
  outline: none;
  /* white-space: wrap; */
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2vw;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 6vw;
  padding-right: auto;
  font-size-adjust: inherit;
}

.upload-input:hover::before {
  border-color: black;
}

/* .upload-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */
