<form class="ui-fluid p-formgrid" (ngSubmit)="save()" name="createForm" #createForm="ngForm">
  <p-card>
    <p-header>
      <h2>Ingrese o Edite los datos de la Sucursal</h2>
    </p-header>
    <div class="p-grid ui-card-content">
      <div class="p-field p-col-12">
        <label for="companyId">Elija La Compañia para esta Sucursal</label>
        <p-dropdown [options]="companies" [(ngModel)]="branch.companyId" name="companyId" required></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <label for="title">Nombre de la Sucursal</label>
        <input pInputText name="title" placeholder="ej. Sucursal Santa Ana Av. Principal" [(ngModel)]="branch.title"
          #title="ngModel" required>
        <p *ngIf="title.errors && (title.dirty || title.touched)" class="text-danger">Por favor Ingrese un nombre valido
        </p>
      </div>
      <div class="p-field p-col-12">
        <label for="titleAbbreviation">Nombre Abreviado</label>
        <input pInputText name="titleAbbreviation" placeholder="ej. Sucursal Uno" [(ngModel)]="branch.titleAbbreviation"
          #titleAbbreviation="ngModel" required>
        <p *ngIf="titleAbbreviation.errors && (titleAbbreviation.dirty || titleAbbreviation.touched)"
          class="text-danger">
          Por favor ingrese un nombre abrebiado valido
        </p>
      </div>

    </div>
    <department-municipality [address]="address" [department]="department" [municipality]="municipality"
      (editedAddress)="editedAddress($event)" (editedDepartment)="editedDepartment($event)"
      (editedMunicipality)="editedMunicipality($event)"></department-municipality>
    <div class="p-grid ui-card-content">
      <div class="p-field p-col-6">
        <label for="telephone">Telefono</label>
        <p-inputMask mask="9999-9999" name="telephone" [(ngModel)]="branch.telephone" placeholder="tel. 9999-9999"
          required #telephone="ngModel">
        </p-inputMask>
        <p *ngIf="telephone.errors && (telephone.dirty||telephone.touched)" class="text-danger">Por favor ingrese
          el
          numero de
          telefono</p>
      </div>
      <div class="p-field p-col-6">
        <label for="telephone">Telefono</label>
        <p-inputMask mask="9999-9999" name="otherPhone" [(ngModel)]="branch.otherPhone" placeholder="tel. 9999-9999">
        </p-inputMask>
      </div>
      <div class="p-col-6"><button pButton class="ui-button-success">
          <i class="pi pi-save"></i> guardar
        </button>
      </div>
      <div class="p-col-6"><button pButton class="ui-button-primary" (click)="cancel()">
          <i class="pi pi-times"></i> cancelar
        </button>
      </div>
    </div>

  </p-card>
</form>
