<div class="container">
  <div class="row text-center mt-5 mb-5">
    <h1 class="col-12">
      <button mat-icon-button class="bg-primary" (click)="toggle()">
        <mat-icon>add</mat-icon>
      </button> Departamentos
    </h1>
  </div>
  <div class="row">
    <div class="col-12">
      <department-create [hidden]="hideParent" (hideCreate)="toggle()"></department-create>
    </div>

    <div class="col-12" [hidden]="hideEdit">

      <form class="form-inline" name="editForm" (ngSubmit)="saveUpdate(params)" #editForm="ngForm">
        <div class="form-group col-8 col-xs-8">
          <label for="name">Edite el Nombre de El Departamento</label>
          <input class="form-control" type="text" name="title" [(ngModel)]="params.title" #title="ngModel" required />
        </div>
        <div class="col-4 col-xs-4">
          <button mat-icon-button class="bg-primary" type="submit" label="Save">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button class="bg-secondary" type="button" label="Cancel" (click)="toggleEdit()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </form>
    </div>


  </div>


  <table displayMode="flat" class="table table-striped">
    <tr matSort class="row bg-light">
      <th mat-sort-header="id" class="col-1">No.</th>
      <th mat-sort-header="title" class="col-5">Nombre de Departamento</th>
      <th class="col-2">Editar</th>
      <th class="col-2">Borrar</th>
      <th class="col-2">Municipio</th>
    </tr>
    <tr *ngFor="let item of data" class="row">
      <td class="col-1">{{item.id}}</td>
      <td class="col-5 " #{{item.id}} [hidden]=false>
        {{item.title}}
      </td>
      <td class="col-2">
        <a mat-icon-button (click)="onUpdate(item)">
          <i class="fa fa-edit" aria-hidden="true"></i></a>
      </td>
      <td class="col-2">
        <a mat-icon-button (click)="onDelete(item.id)">
          <i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
      <td class="col-2">
        <a mat-icon-button (click)="goToMunicipalities(item)"><i class="fa fa-arrow-circle-right"
            aria-hidden="true"></i></a>
      </td>
    </tr>
  </table>

</div>
